/**********************
 CONSTANTS
 ***********************/

@defaultWidth:60%;
@defaultHeight:auto;

/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

.flex-max-height{max-height: @defaultHeight;}
/* FlexSlider Necessary Styles
 *********************************/
.flexslider {
  .flex-max-height;
  width: @defaultWidth;
  margin: 0;
  padding: 0;
  
    .slides{
                      li {
                          display: none;
                          list-style: none;
                         }/* Hide the slides before the JS is loaded. Avoids image jumping */
                    
                     img {
                       .flex-max-height;
                          max-width: auto;
                          display: block;
                         }
            }
}

.flex-pauseplay span {
  text-transform: capitalize;
}

/* Clearfix for the .slides element */
.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] .slides {
  display: block;
}
* html .slides {
  height: 1%;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
  display: block;
}

/* FlexSlider Default Theme
 *********************************/
.flexslider {
  background: #fff;
  border: 4px solid #fff;
  position: relative;
   margin-left: auto;
    margin-right: auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  zoom: 1;
      p {
      color: #FFFFFF;
      font-size: 14px;
      line-height: 18px;
      text-shadow: 0 -1px 0 rgba(0,0,0,.3);
      font-size: 14px;
      text-align: center;
    }
    .slides {
      zoom: 1;
    }
}

.flexslider .slides > li {
  position: relative;
}
/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */
.flex-container {
  zoom: 1;
  position: relative;
}

/* Caption style */
/* IE rgba() hack
 .flex-caption {background:none; -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000); zoom: 1;}*/
.flex-caption {
  width: 96%;
  padding: 2%;
  position: absolute;
  left: 0;
  bottom: -10px;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8); 
}

/* Direction Nav */
.flex-direction-nav li a {
    height: 26px;
    margin: -13px 0 0;
    opacity: 0.8;
    top: 45%;
    width: 26px;
  display: block;
  background: url(images/bg_direction_nav2.png) no-repeat scroll 0 0 transparent;
  position: absolute;
  cursor: pointer;
  .ir;
}
.flex-direction-nav li .next {
  background-position: -30px 0;
    right: -37px;
}
.flex-direction-nav li .prev {
  left: -37px;
}

.flex-direction-nav li .disabled {
  opacity: .3;
  filter: alpha(opacity=30);
  cursor: default;
}

/* Control Nav */
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -25px;
  text-align: right;
}
.flex-control-nav li {
  margin: 0 0 0 5px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.flex-control-nav li:first-child {
  margin: 0;
}

.flex-control-nav li a {
  width: 13px;
  height: 13px;
  display: block;
  background: url(images/bg_control_nav.png) no-repeat 0 0;
  cursor: pointer;
  .ir;//helper image replace style
}

.flex-control-nav li a:hover {
  background-position: 0 -13px;
}
.flex-control-nav li a.active {
  background-position: 0 -26px;
  cursor: default;
}